.header {
  display: flex;
  flex-wrap: wrap;
  padding: var(--size-s);
  background-color: var(--color-primary);
  align-items: center;
  gap: var(--size-m);
  &__logo {
    flex: 1;
  }

  &__menu {
    flex: 0 1 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    grid-gap: var(--size-m);
    margin: 0 auto;
    a {
      text-decoration: none;
      flex: 1 0 auto;
    }
  }
}
