<ng-container *ngIf="state">
  <ng-container *ngIf="(state | readState : 'error')?.error as error">
    <div class="box box-danger">
      <h3>Error</h3>
      <p>{{ error.message }}</p>
      <p>
        <b
          >If you run out of FixerApi Quota, you can use your own apiKey by accessing url
          <a [href]="messageUrl">{{ messageUrl }}</a></b
        >
      </p>
    </div>
  </ng-container>
  <ng-container *ngIf="state | readState : 'requesting' as requesting">
    <h3>Loading data from API <i class="fa-solid fa-circle-notch fa-spin"></i></h3>
  </ng-container>
  <ng-container *ngIf="(state | readState : 'success')?.response">
    <ng-content></ng-content>
  </ng-container>
</ng-container>
