/* You can add global styles to this file, and also import other style files */
$size-l: 32px;
$size-m: 20px;
$size-s: 16px;
$size-xs: 12px;
$size-xxs: 6px;
$size-xxxs: 4px;

* {
  --size-l: #{$size-l};
  --size-m: #{$size-m};
  --size-s: #{$size-s};
  --size-xs: #{$size-xs};
  --size-xxs: #{$size-xxs};
  --size-xxxs: #{$size-xxxs};

  /* Colors set */
  --color-primary: #1976d2;
  --color-primary-darker: #0986c2;
  --color-info: #baddf9;
  --color-info-darker: #7986cb;

  --color-dark: #333;
  --color-light: #ddd;
  --color-danger: #ff8a80;
  --color-danger-darker: #7b1515;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  min-width: 320px;

  padding: 0px;
  margin: 0px;
  color: var(--color-dark);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

article {
  display: block;
  padding: var(--size-m);
  max-width: 1200px;
  margin: 0 auto;
}

.box {
  border: 1px solid var(--color-dark);
  border-radius: var(--size-xxs);
  padding: var(--size-xs) var(--size-s);
  &.box-small {
    border-radius: var(--size-xxxs);
    padding: var(--size-xxs) var(--size-xs);
  }

  &.box-danger {
    background-color: var(--color-danger);
    border-color: var(--color-danger-darker);
  }
  &.box-info {
    background-color: var(--color-info);
  }
}

.box-shadow {
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.5);
}

.button, button {
  padding: $size-xxs $size-xs;
  border-radius: var(--size-xxs);
  text-align: center;
}

.button:not(:disabled),
button:not(:disabled) {
  background-color: var(--color-primary);
  color: var(--color-light);
  transition: 0.3s;
  border: none;
  cursor: pointer;
  &:hover {
    background-color: var(--color-primary-darker);
    box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.5);
  }
}

.button-outline {
  background-color: none;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  transition: 0.3s;

  &:hover {
    background-color: var(--color-primary-darker);
    color: var(--color-light);
  }

  &.light {
    color: var(--color-dark);
    border-color: var(--color-dark);
  }

  &.dark {
    color: var(--color-light);
    border-color: var(--color-light);
    &:hover {
      box-shadow: 0px 0px 20px -5px rgba(255, 255, 255, 0.5);
    }
  }
}

select,
input {
  padding: var(--size-xxs) var(--size-xs);
  border-radius: var(--size-xxxs);
  border: 1px solid var(--color-dark);
}

*.disabled {
  pointer-events: none;
  opacity: 0.7;
}
